{% extends 'page.html.twig' %}

{% block title %}Kalkulator kredytowy{% endblock %}

{% block content %}
    <form action="{{ app_url }}/app/kredyt.php" method="post" class="">
        <label class="form-label" for="id_kwota">Kwota: </label>
        <input class="form-control" id="id_kwota" type="number" name="kwota" value="{{ kwota }}"/><br/>

        <label class="form-label" for="id_lata">Ile lat: </label>
        <input class="form-control" id="id_lata" type="number" name="lata" value="{{ lata }}"/><br/>

        <label class="form-label" for="id_oprocentowanie">Oprocentowanie: </label>
        <input class="form-control" id="id_oprocentowanie" type="number" name="oprocentowanie" value="{{ oprocentowanie }}"/><br/>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">
                Oblicz
            </button>
        </div>
    </form>

    <br/>

    {% if messages is not empty %}
        <div class="alert alert-warning">
            <ol>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}

    {% if result is not null %}
        <div class="alert alert-success">
            Wynik: {{ result }}
        </div>
    {% endif %}
{% endblock %}